
div.row.head-row
	a.btn.btn-primary.read-file(data-value="select file")
		input(type="file")

	select.btn.btn-default.address

	a.hide.download(href="").btn.btn-default.btn-xs.glyphicon.glyphicon-download(href="javascript:;" download="mySMS.json")

	form.form-inline
		div.radio
			label
				input(type="radio" name="filter" value="filter-all")
				|all
			label
				input(type="radio" name="filter" value="filter-cost")
				|cost
			label
				input(type="radio" name="filter" value="filter-no-cost")
			|no-cost

table.table.table-bordered.table-hovered
	thead
		tr
			th index
			th 卡号
			th 类型
			th 金额
			th 余额
			th 日期
			th.sms-body 内容
	tbody
		tr
			td(html-index)
			td(html-card)
			td(html-type)
			td(html-cost)
			td(html-balance)
			td(html-date)
			td(html-body).sms-body

hr
script(src="/socket.io/socket.io.js")
script(src="js/mySMS.js")