doctype
html
	head
		title= title
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		script(src="//code.jquery.com/jquery-2.1.4.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
		script(src="//gtbcode.sinaapp.com/js/jquery.plugin.js")
	body!= body